@model FD.Videolocadora.Domain.Entities.Filme



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Filme</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Genero.Nome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Genero.Nome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Valor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Valor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Disponivel)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Disponivel)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.FilmeId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
