@model IEnumerable<FD.Videolocadora.Presentation.UI.Models.LocacaoModelView>
@using FD.Videolocadora.Presentation.UI.Internacionalizacao



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Mensagens.Filme
            </th>
            <th>
                @Mensagens.Usuario
            </th>
            <th>
                @Mensagens.DataDevolucao
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Filme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDevolucao)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.LocacaoId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.LocacaoId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.LocacaoId })
                </td>
            </tr>
        }

    </table>
</body>
</html>
